meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : '圍')


meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="anthor", content='ky0ncheng')
meta(name="theme-color", content="#000000")
link(rel="short icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("https://o3ziuzht9.qnssl.com/apollo.css"))
script(src='https://o3ziuzht9.qnssl.com/console.js')

if theme.googlefonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" type='text/css')
else 
    link(rel="stylesheet", href="https://fonts.proxy.ustclug.org/css?family=Source+Sans+Pro:400,600" type='text/css')

html(lang='#{config.language}')
  head
    //- Please place the following code.
    if is_post() && config.generator_amp
      link(rel="amphtml", href='./amp/index.html')