<h1 id="Awesome-CN-Cafe"><a href="#Awesome-CN-Cafe" class="headerlink" title="Awesome CN Café"></a>Awesome CN Café</h1><p><a href="https://travis-ci.org/ElaWorkshop/awesome-cn-cafe"><img src="https://travis-ci.org/ElaWorkshop/awesome-cn-cafe.svg?branch=master" alt="Build Status"></a></p>
<p>那些网速快咖啡好的咖啡馆。不同颜色的标记代表不同的下载速度。</p>
<table><br><tr><th>标记</th><th>下载速度</th><th>色值</th></tr><br><tr><td><img src="resources/markers/slow.png" width="50" alt="Slow marker"></td><td>0 ~ 5 Mbps</td><td>#C24740</td></tr><br><tr><td><img src="resources/markers/moderate.png" width="50" alt="Moderate marker"></td><td>5 ~ 10 Mbps</td><td>#F3AE1A</td></tr><br><tr><td><img src="resources/markers/fast.png" width="50" alt="Fast marker"></td><td>10+ Mbps</td><td>#50C240</td></tr><br></table>


<h2 id="城市列表"><a href="#城市列表" class="headerlink" title="城市列表"></a>城市列表</h2><ul>
<li><a href="beijing.geojson">北京 (7)</a></li>
<li><a href="shanghai.geojson">上海 (34)</a></li>
<li><a href="nanjing.geojson">南京 (3)</a></li>
<li><a href="wuhan.geojson">武汉 (2)</a></li>
<li><a href="hangzhou.geojson">杭州 (9)</a></li>
<li><a href="guangzhou.geojson">广州 (1)</a></li>
<li><a href="shenzhen.geojson">深圳 (4)</a></li>
</ul>
<h2 id="贡献"><a href="#贡献" class="headerlink" title="贡献"></a>贡献</h2><p>欢迎发 pull request 添加你去过的咖啡馆。请通过浏览器或手机 app 等方式获取网络速度和经纬度，然后添加到相应的 <a href="http://geojson.org/geojson-spec.html">geoJSON</a> 中。如果没有你所在的城市，请新建一个 geoJSON 文件。格式请参见 <a href="shanghai.geojson">shanghai.geojson</a>。</p>
<h3 id="通过浏览器"><a href="#通过浏览器" class="headerlink" title="通过浏览器"></a>通过浏览器</h3><p>请用 <a href="http://speedtest.net">Speedtest</a> 或其他工具测试网络速度、Mapbox 的<a href="https://www.mapbox.com/mapbox.js/example/v1.0.0/select-center-form/">显示经纬度</a>来获取经纬度。在 Google Maps 上通过 What’s here 取得的经纬度有些许偏差。如果你正在咖啡馆并且可以翻墙，可以使用 <a href="https://xavierchow.github.io/whereami/">whereami</a> 来获得当前经纬度。</p>
<h3 id="通过手机-App"><a href="#通过手机-App" class="headerlink" title="通过手机 App"></a>通过手机 App</h3><p>推荐使用 <a href="http://www.speedtest.net/mobile/">Speedtest</a> (<a href="https://itunes.apple.com/app/speedtest-net-mobile-speed/id300704847?mt=8">iOS</a>/<a href="https://play.google.com/store/apps/details?id=org.zwanoo.android.speedtest">Android</a>)，既可以测试网络速度也可以获取当前经纬度。</p>
<h2 id="授权"><a href="#授权" class="headerlink" title="授权"></a>授权</h2><p><a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a></p>
